.intro {
	margin-top: 20%;
	display: block;
	text-align: center;
	margin-bottom: 20%;
}
.intro__title {
	color: #fff;
	font-size: 50px;
	font-weight: 700;
	letter-spacing: 1px;
}
.intro__subtitle {
	color: #fff;
	font-size: 21px;
	font-weight: 400;
	line-height: 1.5em;
}
.intro__arrow {
	margin-top: 10px;
	transform: rotate(90deg);
}
.intro__background {
	background-color: black;
	position: absolute;
	top: 0;
	width: 100%;
	height: 600px;
	z-index: -1;
	background-attachment: scroll;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		opacity: 0.8;
		background-attachment: scroll;
	}
}
