//==============<Шрифт по умолчанию>===========================
$fontfamily: "Lato", sans-serif;
//==============<Шрифт по умолчанию>===========================

//==============<Подключение шрифтов>==========================
$ffRoboto: "Roboto", sans-serif;
//==============<Подключение шрифтов>==========================

//==========<Переменные>==========================

//====<BRAKEPOINTS>=======
$md1: 1023.98px;
$md2: 767.98px;
$md3: 508.98px;
$md4: 394.98px;

//====<BRAKEPOINTS>=======
//==========<Переменные>==========================
//==========<Основная сетка>======================
.container {
    max-width: 1110px;
    margin: 0 auto;
    width: 100%;
}
//==========<Основная сетка>======================
// ===========<Тех. класс для адаптива картинок>=========
._ibg {
    position: relative;
    width: 100%;
    height: 500px;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
// =================================>
